/* CSS for the App component */


.App {
  display: block;
  flex-direction: column;
  height: 100vh;
}

#quizAppHeader {
  display: block;
  height: 10%;
}

#quizAppBody {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 20px;
  height: 75%;
  box-sizing: border-box; 
}

#quizAppFooter {
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 25%;
}
