#navBar {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
}

#navBarList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    width: 80%;

  list-style: none;
}

.navBarListItem {
  display: inline;
  padding: 10px 15px;
}

.navBarListItem:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
